<AppBar position="static" >
    <Toolbar variant="dense" >
        <div className="d-flex justify-content-between">
            <div>
                <IconButton
                    edge="start"
                    color="inherit"
                    aria-label="menu"
                    sx={{ mr: 2 }}
                >
                    <MenuIcon />
                </IconButton>
                <Typography variant="h6" color="inherit" component="div">
                    <IconButton color="inherit">Home</IconButton>
                </Typography>
            </div>
            <div>
                <nav class="navbar " >
                    <div class="container">
                        <a class="navbar-brand" href="#" >
                            <FacebookIcon color='secondary'></FacebookIcon >
                        </a>
                        <a class="navbar-brand" href="#">
                            <InstagramIcon color='secondary'></InstagramIcon>
                        </a>
                        <a class="navbar-brand" href="#">
                            <TwitterIcon color='secondary'></TwitterIcon>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </Toolbar>
</AppBar>